h1,
h2,
h4 {
    text-align: center;
    font-weight: 500;
}
h2,
h4 {
    margin-top: 20px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    clip-path: circle();
}
@media(max-width: 750px) {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        clip-path: circle();
    }
}
@media(max-width: 360px) {
    body {
        font-size: 80%;
    }
}