.footer {
    background-color: #1B242F;
}
.footer > .row > .socials > .headline {
    margin-bottom: 5px;
} 
.footer > .row > .links > .headline > h2,
.footer > .row > .socials > .headline > h2 {
    color: white;
}

.footer > .row > .socials > a {
    font-size: 15px;
    font-weight: 200;
    display: block;
}

.footer > .row > .socials > a > .fab {
    font-size: 20px;
    margin-right: 5px;
}
.footer > .row > .links > a,
.footer > .row > .links > a > .fab {
    display: block;
}

.footer > .row > .socials > a,
.footer > .row > .links > a,
.footer > .row > .links > a > .fab,
.footer > .row > .socials > a > .fab {
    color: white;
    text-decoration: none;
    vertical-align: middle;
}
.line {
    opacity: 0.2;
}