{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% block login_css %}
        {{ encore_entry_link_tags('login') }}
    {% endblock %}

    {% block login_js %}
        {{ encore_entry_script_tags('login') }}
    {% endblock %}
    <main>

        <div class="cont login">
            <div class="line">
                <div class="headline">
                    <h1>Register</h1>
                </div>
                <div class="form">
                    <form method="post">
                        {% for message in app.session.flashBag.get('error') %}
                            <div class="alert alert-warning">
                                {{ message }}
                            </div>
                        {% endfor %}

                        <input type="email" class="input" placeholder="Email" name="email" id="inputEmail" autocomplete="email" required autofocus>
                        <input type="password" class="input" placeholder="Password" name="password" id="inputPassword" required>
                        <input type="password" class="input" placeholder="Repeat password" name="repeat password" id="repeatInputPassword" required>

                        <button class="submit-button" type="submit">
                            Sign in
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
