{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <h1>My projects </h1>
                <div class="col-12">
                    Here I will show all of my coolest projects ;)
                </div>
            </div>
        </div>
    </main>
{% endblock %}
