{% extends 'base.html.twig' %}

{% block title %}Projects list{% endblock %}

{% block body %}
<main>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Url</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% set count = 1 %}
                {% for project in projects %}
                    <tr>
                        <th scope="row">{{ count }}</th>
                        <td>{{ project.id }}</td>
                        <td>{{ project.title }}</td>
                        <td>{{ project.url }}</td>
                        <td>ACTION BUTTONS</td>
                    </tr>
                    {% set count = count + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}