.footer {
    padding: 10px 0;
    background-color: #1B242F;
}
.footer .headline {
    margin-bottom: 5px;
}
.footer a {
    --bs-link-color: white;
    --bs-link-hover-color: #04C2C9;
    text-decoration: none;
    transition: 0.5s;
}
svg {
    margin-right: 2px;
}
.footer .hero {
    width: 100%;
    align-items: normal;
}
.right,
.left {
    width: 50%;
    gap: 0;
}
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        gap: 0px;
    }
    .right,
    .left {
        gap: 0px;
        width: 100%
    }
}