<!DOCTYPE html>
<html id="top" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <meta name="theme-color" content="#1B242F">
        <meta name="description" content="Owner: Povilas Zubrys, Career: Web developer/Programmer/Software Developer, website: personal portfolio">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href=" {{ asset('build/images/favicon.fe056ed8.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        <nav class="menu">
            {% if controller is defined and controller == 'admin' %}
                <a href="/">Home Page</a>
                <div class="dropdown" style="display: inline-block">
                    <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Projects <i class="fa-solid fa-caret-down"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/admin/new_project">New project</a></li>
                        <li><a class="dropdown-item" href="/admin/projects">Active projects</a></li>
                        <li><a class="dropdown-item" href="/admin/projects/deleted">Deleted projects</a></li>
                    </ul>
                </div>
            {% else %}
                <a href="#about">About me</a>
                <a href="#projects">Projects</a>
                <a href="#contact">Contact</a>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="/admin">Admin Panel</a>
                <a href="/logout">Logout</a>
            {% endif %}
        </nav>
    </header>
    {% block body %}{% endblock %}
    </body>
</html>
